@use "global" as *;

.c-intro-title {
}

.c-intro-title__en {
  display: block;
  position: relative;
  font-family: $lato;
  font-weight: 500;
  font-size: rem(12);
  letter-spacing: 0.05em;
  color: #242424;
  padding-left: rem(25);
}
.c-intro-title__en::before {
  position: absolute;
  content: "";
  background: url(../images/common/intro_title_icon.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: rem(15);
  height: auto;
  aspect-ratio: 15 / 10;
  object-fit: cover;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.c-intro-title__ja {
  display: block;
  color: #00a040;
  font-size: rem(50);
  font-weight: 700;
  letter-spacing: 0.05em;
}
