@use "global" as *;

.c-main-title__en {
  font-weight: 900;
  color: #00a040;
  display: block;
  font-family: $lato;
  font-size: rem(14);
  @include mq(md) {
    font-size: rem(20);
  }
}

.c-main-title__ja {
  color: #00a040;
  font-weight: 700;
  display: block;
  font-size: rem(24);
  @include mq(md) {
    font-size: rem(60);
  }
  @include mq(lg) {
    font-size: rem(90);
  }
}
.c-main-title__ja--small {
  font-size: rem(20);
  @include mq(md) {
    font-size: rem(40);
  }
  @include mq(lg) {
    font-size: rem(60);
  }
}
.c-main-title__ja--white {
  color: #fff;
}
.c-main-title__en--white {
  color: #fff;
}
.c-main-title__ja--sub {
  color: #00a040;
  font-weight: 700;
  font-size: rem(18);
  margin-top: rem(4);
  @include mq(md) {
    font-size: rem(32);
    margin-top: rem(24);
  }
  @include mq(lg) {
    font-size: rem(40);
    margin-top: rem(48);
  }
}
.c-main-title__row {
  display: flex;
  gap: rem(16);
  flex-direction: row;
  @include mq(md) {
    gap: rem(32);
    align-items: center;
  }
}
