@use "global" as *;

.c-main-title__en {
  font-weight: 900;
  font-size: rem(20);
  color: #00a040;
  display: block;
  font-family: $lato;
}

.c-main-title__ja {
  color: #00a040;
  font-weight: 700;
  display: block;
  @include mq(md) {
    font-size: rem(60);
  }
  @include mq(lg) {
    font-size: rem(90);
  }
}
.c-main-title__ja--small {
  @include mq(md) {
    font-size: rem(40);
  }
  @include mq(lg) {
    font-size: rem(60);
  }
}