@use "global" as *;

.p-company {
  padding-bottom: rem(32);
  @include mq(md){
   padding-top: rem(100);
   padding-bottom: rem(60); 
  }
  @include mq(lg) {
    padding-top: rem(200);
  }
}

.p-company__content {
  @include mq(md) {
    max-width: rem(1400);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    gap: rem(100);
  }
}

.p-company__detail {
  width: 100%;
  @include mq(md) {
    max-width: rem(700);
  }
}

.p-company__title {
}

.p-company__dl {
  margin-top: rem(24);
  @include mq(md) {
    margin-top: rem(50);
  }
}

.p-company__row {
  padding-top: rem(20);
  padding-bottom: rem(20);
  border-top: 1px solid #d6d6d6;
  position: relative;
  @include mq(md) {
    display: flex;
    padding-top: rem(30);
    padding-bottom: rem(30);
  }
}
.p-company__row::before {
  position: absolute;
  content: "";
  background: #00A040;
  width: rem(10);
  height: 1px;
  top: -1px;
  left: 0;
}
.p-company__row:last-child {
  border-bottom: 1px solid #d6d6d6;
}
.p-company__row:last-child::after {
  position: absolute;
  content: "";
  background: #00A040;
  width: rem(10);
  height: 1px;
  bottom: -1px;
  left: 0;
}
.p-company__dt {
  font-weight: 700;
  color: #242424;
  letter-spacing: 0.05em;
  font-size: rem(14);
  @include mq(md) {
    font-size: rem(16);
    width: rem(250);
  }
}

.p-company__dd {
  letter-spacing: 0.05em;
  line-height: calc(30 / 16);
  color: #242424;
  font-size: rem(14);
  margin-top: rem(8);
  @include mq(md) {
    margin-top: initial;
    font-size: rem(16);
    width: calc(100% - rem(250));
  }
}

.p-company__img {
  width: 100%;
  margin-top: rem(24);
  @include mq(md) {
    margin-top: initial;
    max-width: rem(600);
  }
}

.p-company__img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}
