@use "global" as *;

.p-cycle {
  padding-top: rem(50);
  padding-bottom: rem(80);
  @include mq(md) {
    padding-top: rem(180);
    padding-bottom: rem(250);
  }
}

.p-cycle__content {
  max-width: rem(1400);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.p-cycle__text-wrapper {
  text-align: center;
  margin-top: rem(24);
  @include mq(md) {
    margin-top: rem(50);
  }
}

.p-cycle__text {
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.05em;
  font-size: rem(18);
  @include mq(md) {
    font-size: rem(26);
  }
}

.p-cycle__img {
  margin-top: rem(24);
  @include mq(md) {
    margin-top: rem(50);
  }
}
.p-cycle__img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}
