@use "global" as *;

.p-detail-img {
  position: sticky;
  top: 0;
  height: 100dvh;
  transition: filter 0.8s ease;
  will-change: filter;
  z-index: 0; /* 背景として背面に */
}
.p-detail-img.is-blurred {
  filter: blur(8px);
}
.p-detail-img img {
  width: 100%;
  height: 100dvh;
  object-fit: cover;
  object-position: center;
}

/* セクション側は画像より前に出す */
.p-detail {
  position: relative;
  z-index: 1;
  inset: 0;
  padding-top: rem(200);
  padding-bottom: rem(100);
}
.p-detail__content {
  max-width: rem(1220);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 3;
}

.p-detail__detail {
  @include mq(md) {
    display: flex;
    gap: rem(150);
  }
}

.p-detail__detail-img {
  max-width: rem(470);
  width: 100%;
}
.p-detail__detail-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}

.p-detail__block {
  width: 100%;
  margin-top: rem(24);
  @include mq(md) {
    max-width: rem(600);
  }
}

.p-detail__subTitle-wrapper {
  display: flex;
  align-items: center;
  gap: rem(32);
}

.p-detail__subTitle {
  font-family: $lato;
  font-weight: 700;
  color: #00a040;
  font-size: rem(20);
  @include mq(md) {
    font-size: rem(28);
  }
}
.p-detail__subTitle-ja {
  font-weight: 500;
  color: #00a040;
  position: relative;
  font-size: rem(14);
  @include mq(md) {
    font-size: rem(20);
  }
}
.p-detail__subTitle-ja::before {
  position: absolute;
  content: "";
  background: #00a040;
  width: rem(10);
  height: 1px;
  top: 50%;
  transform: translateY(-50%);
  left: rem(-16);
}

.p-detail__title {
  font-weight: 700;
  color: #fff;
  line-height: 1.5;
  font-size: rem(22);
  margin-top: rem(16);
  @include mq(md) {
    font-size: rem(40);
    margin-top: rem(38);
  }
}

.p-detail__text-wrapper {
  margin-top: rem(16);
  @include mq(md) {
    margin-top: rem(27);
  }
}

.p-detail__text {
  font-weight: 400;
  color: #fff;
  line-height: calc(34 / 18);
  letter-spacing: 0.05em;
  font-size: rem(14);
  @include mq(md) {
    font-size: rem(18);
  }
}

.p-detail__btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: rem(24);
  @include mq(md) {
    margin-top: rem(30);
  }
}

.p-detail__btn {
  width: rem(241);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: rem(50);
  background: #00a040;
  border-radius: 999px;
  height: rem(40);
  @include mq(md) {
    height: rem(50);
  }
}

.p-detail__btn-text {
  color: #fff;
  font-weight: 400;
  font-size: rem(14);
  @include mq(md) {
    font-size: rem(16);
  }
}

.p-detail__icon {
  width: rem(15);
}
.p-detail__icon img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}
.p-detail__shape {
  margin-top: rem(32);
  @include mq(md) {
    margin-top: rem(70);
  }
}
.p-detail__link {
  display: block;
}
.p-detail__link img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}
