@use "global" as *;

.p-footer {
  background: #00a040;
  border-top-left-radius: rem(250);
  border-top-right-radius: rem(250);
  padding-top: rem(120);
  padding-bottom: rem(70);
  margin-top: rem(-64);
}

.p-footer__content {
  display: flex;
  gap: rem(200);
  max-width: rem(1400);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.p-footer__left {
  max-width: rem(350);
  width: 100%;
}

.p-footer__logo {
}

.p-footer__home {
  display: inline-block;
  width: rem(350);
}
.p-footer__home img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}

.p-footer__address-wrapper {
  margin-top: rem(20);
}

.p-footer__address {
  font-size: rem(14);
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 2;
  color: #fff;
}

.p-footer__icon-lists {
  margin-top: rem(30);
  display: flex;
  gap: rem(20);
}

.p-footer__icon-list {
}

.p-footer__icon-link {
  display: inline-block;
  width: rem(19);
}
.p-footer__icon-link--instagram {
  display: inline-block;
  width: rem(28);
}
.p-footer__icon-link img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}

.p-footer__right {
  margin-left: auto;
}

.p-footer__lists {
  display: flex;
  gap: rem(64);
  margin-left: auto;
  flex: 1;
}

.p-footer__list {
}

.p-footer__link {
  color: #fff;
  font-size: rem(16);
  display: block;
  font-weight: 400;
  letter-spacing: 0.05em;
}
.p-footer__link + .p-footer__link {
  margin-top: rem(22);
}
.p-footer__sub-lists {
  margin-top: rem(10);
  padding-left: rem(8);
}

.p-footer__sub-list {
}

.p-footer__sub-link {
  color: #fff;
  font-size: rem(12);
  font-weight: 400;
  letter-spacing: 0.05em;
}
.p-footer__sub-list + .p-footer__sub-list {
  margin-top: rem(10);
}
.p-footer__sub-lists--big {
  margin-top: rem(22);
}

.p-footer__sub-link--big {
  color: #fff;
  font-size: rem(16);
  font-weight: 400;
  letter-spacing: 0.05em;
}
.p-footer__sub-link--big + .p-footer__sub-link--big {
  margin-top: rem(20);
}
.p-footer__small {
  text-align: center;
  margin-top: rem(40);
  padding-top: rem(30);
  border-top: 1px solid #009336;
}

.p-footer__small small {
  font-size: rem(12);
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-family: $lato;
}
.p-footer__sub-list--big + .p-footer__sub-list--big {
  margin-top: rem(22);
}
