@use "global" as *;

.p-introduce {
  padding-bottom: rem(200);
  overflow-x: clip;
}

.p-introduce--green {
  padding-top: rem(150);
  background: #00a040;
  padding-bottom: initial;
}

.p-introduce__content {
  max-width: rem(1400);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.p-introduce__title {
  text-align: center;
}
.p-introduce__row {
  margin-top: rem(80);
  display: flex;
}

.p-introduce__left {
  margin-top: rem(420);
  max-width: rem(550);
  width: 100%;
}

.p-introduce__left-block + .p-introduce__left-block {
  margin-top: rem(350);
}
.p-introduce__num {
  color: rgba($color: #fff, $alpha: 0.2);
  font-weight: 700;
  font-family: $outfit;
  font-size: rem(30);
}
.p-introduce__num--green {
  color: rgba($color: #00a040, $alpha: 0.2);
}
.p-introduce__top-text {
  color: #242424;
  font-size: rem(20);
  line-height: calc(40 / 20);
  font-weight: 700;
  letter-spacing: 0.05em;
  margin-top: rem(80);
}
.p-introduce__left-title {
  color: #fff;
  font-size: rem(40);
  font-weight: 700;
  letter-spacing: 0.05em;
}
.p-introduce__left-title--green {
  color: #00a040;
}
.p-introduce__text {
  color: #fff;
  font-size: rem(18);
  line-height: calc(34 / 18);
  font-weight: 400;
  letter-spacing: 0.05em;
  margin-top: rem(70);
}
.p-introduce__text--green {
  color: #242424;
}
.p-introduce__right {
  margin-right: calc(50% - 50vw);
  width: 50vw;
  margin-left: auto;
}

.p-introduce__img {
}
.p-introduce__img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}
