@use "global" as *;

.p-message {
  overflow-x: clip;
  padding-top: rem(50);
  padding-bottom: rem(80);
  @include mq(md) {
    padding-top: rem(100);
    padding-bottom: rem(170);
  }
}

.p-message__content {
  max-width: rem(1400);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  @include mq(md) {
    display: flex;
    align-items: center;
    gap: rem(28);
  }
}

.p-message__detail {
  width: 100%;
  @include mq(md) {
    max-width: rem(700);
  }
}

.p-message__title {
  color: #242424;
  font-weight: 700;
  letter-spacing: 0.05em;
  position: relative;
  font-size: rem(20);
  @include mq(md) {
    font-size: rem(26);
  }
}
.p-message__title::before {
  position: absolute;
  content: "Message";
  font-weight: 500;
  font-family: $lato;
  left: 0;
  color: rgba($color: #00a040, $alpha: 0.1);
  z-index: -1;
  font-size: rem(60);
  top: rem(-40);
  @include mq(md) {
    font-size: rem(120);
    top: rem(-120);
  }
}

.p-message__text-wrapper {
  margin-top: rem(20);
  @include mq(md) {
    margin-top: rem(30);
  }
}

.p-message__text {
  font-weight: 400;
  color: #242424;
  line-height: calc(34 / 16);
  letter-spacing: 0.05em;
  font-size: rem(14);
  @include mq(md) {
    font-size: rem(16);
  }
}

.p-message__name-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: rem(10);
  margin-top: rem(32);
  @include mq(md) {
    margin-top: rem(60);
  }
}

.p-message__occupation {
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #242424;
  font-size: rem(12);
  @include mq(md) {
    font-size: rem(14);
  }
}

.p-message__name {
  font-weight: 700;
  color: #242424;
  letter-spacing: 0.05em;
  font-size: rem(16);
  @include mq(md) {
    font-size: reem(22);
  }
}

.p-message__img {
  margin-top: rem(24);
  @include mq(md) {
    margin-top: initial;
    margin-right: calc(50% - 50vw);
    width: 50vw;
    margin-left: auto;
  }
}
.p-message__img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}
