@use "global" as *;

.p-page-mv {
  padding-top: rem(145);
  padding-bottom: rem(45);
}

.p-page-mv__content {
  width: 100%;
  margin-left: auto;
  max-width: rem(1300);
  @include mq(lg) {
    max-width: rem(1550);
  }
}

.p-page-mv__detail {
  @include mq(md) {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
}

.p-page-mv__title {
}

.p-page-mv__lists {
  margin-top: rem(24);
  @include mq(md) {
    margin-top: initial;
    display: flex;
    align-items: center;
    gap: rem(30);
    margin-left: auto;
  }
}

.p-page-mv__list {
}
.p-page-mv__list + .p-page-mv__list {
  margin-top: rem(12);
  @include mq(md) {
    margin-top: initial;
  }
}

.p-page-mv__link {
  display: flex;
  align-items: center;
  gap: rem(15);
}

.p-page-mv__link-text {
  letter-spacing: 0.05em;
  font-weight: 400;
  color: #242424;
  font-size: rem(16);
  @include mq(md) {
    font-size: rem(20);
  }
}

.p-page-mv__icon {
  width: rem(16);
  @include mq(md) {
    width: rem(30);
  }
}
.p-page-mv__icon img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}
.p-page-mv__link-text--white {
  color: #fff;
}
