@use "global" as *;

.p-sdgs {
  padding-bottom: rem(200);
}

.p-sdgs__content {
  max-width: rem(1400);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.p-sdgs__title {
}

.p-sdgs__block-wrapper {
  margin-top: rem(50);
}

.p-sdgs__block {
  padding-top: rem(192);
  padding-bottom: rem(108);
  padding-left: rem(110);
  padding-right: rem(171);
  background: url(../images/common/sdgs_img1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-top-left-radius: rem(150);
  border-bottom-right-radius: rem(150);
  display: flex;
  align-items: center;
  gap: rem(169);
}
.p-sdgs__block--2 {
  background: url(../images/common/sdgs_img2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.p-sdgs__block--3 {
  background: url(../images/common/sdgs_img3.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.p-sdgs__block--4 {
  background: url(../images/common/sdgs_img4.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.p-sdgs__block + .p-sdgs__block {
  margin-top: rem(70);
}

.p-sdgs__detail {
  max-width: rem(700);
  width: 100%;
}

.p-sdgs__detail-subTitle {
  color: #fff;
  font-size: rem(16);
  font-weight: 700;
  letter-spacing: 0.05em;
  font-weight: 700;
}

.p-sdgs__detail-title {
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.05em;
  font-size: rem(30);
}

.p-sdgs__text {
  margin-top: rem(20);
  color: #fff;
  line-height: calc(34 / 18);
  font-size: rem(18);
  font-weight: 400;
  letter-spacing: 0.05em;
}

.p-sdgs__white {
  margin-top: rem(30);
  background: rgba($color: #fff, $alpha: 0.85);
  border-radius: rem(10);
  padding-top: rem(30);
  padding-bottom: rem(40);
  padding-left: rem(40);
  padding-right: rem(40);
}

.p-sdgs__white-title {
  color: #00a040;
  font-weight: 700;
  font-size: rem(18);
  letter-spacing: 0.05em;
  padding-bottom: rem(15);
  border-bottom: 1px solid #e9e9e9;
}
.p-sdgs__lists-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.p-sdgs__lists {
  margin-top: rem(20);
}

.p-sdgs__list {
  position: relative;
  color: #242424;
  font-size: rem(16);
  letter-spacing: 0.05em;
  padding-left: rem(17);
}
.p-sdgs__list + .p-sdgs__list {
  margin-top: rem(12);
}
.p-sdgs__list::before {
  position: absolute;
  content: "";
  background: #00a040;
  width: rem(7);
  height: rem(7);
  top: rem(4);
  left: 0;
  border-radius: 9999px;
}

.p-sdgs__img {
  max-width: rem(250);
  width: 100%;
  margin-left: auto;
}
.p-sdgs__img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}
