@use "global" as *;

.p-top-works {
  padding-top: rem(200);
  padding-bottom: rem(270);
  background: #ebebeb;
  overflow: clip;
}

.p-top-works__content {
}

.p-top-works__title-wrapper {
}

.p-top-works__title {
}

.p-top-works__title-en {
  font-weight: 700;
  font-size: rem(20);
  color: #00a040;
  display: block;
}

.p-top-works__title-ja {
  color: #00a040;
  font-weight: 700;
  margin-top: rem(17);
  display: block;
  @include mq(md) {
    font-size: rem(60);
  }
  @include mq(lg) {
    font-size: rem(90);
  }
}

.p-top-works__slider-wrapper {
  margin-top: rem(72);
  margin-right: calc(50% - 50vw);
}

.p-top-works__slider {
}
.p-top-works__slider + .p-top-works__slider {
  margin-top: rem(120);
}
.swiper {
}

.swiper1 {
}

.swiper-wrapper {
}

.swiper-slide {
}

.p-top-works__img {
}

.swiper-pagination {
}

.swiper-button-prev {
}

.swiper-button-next {
}

.swiper-scrollbar {
}
