@use "global" as *;

.p-top-works {
  background: #ebebeb;
  overflow: clip;
  position: relative;
  z-index: 1;
  padding-top: rem(64);
  padding-bottom: rem(64);
  @include mq(md) {
    padding-top: rem(200);
    padding-bottom: rem(270);
  }
}

.p-top-works__content {
}

.p-top-works__title-wrapper {
}

.p-top-works__title {
}

.p-top-works__title-en {
  font-weight: 900;
  color: #00a040;
  display: block;
  font-family: $lato;
  font-size: rem(12);
  @include mq(md) {
    font-size: rem(20);
  }
}

.p-top-works__title-ja {
  color: #00a040;
  font-weight: 700;
  margin-top: rem(17);
  display: block;
  font-size: rem(20);
  @include mq(md) {
    font-size: rem(60);
  }
  @include mq(lg) {
    font-size: rem(90);
  }
}

.p-top-works__slider-wrapper {
  margin-top: rem(16);
  @include mq(md) {
    margin-top: rem(72);
    margin-right: calc(50% - 50vw);
    display: flex;
    align-items: stretch;
    gap: rem(24);
  }
}

.p-top-works__slider {
  margin-top: rem(16);
  @include mq(md) {
    margin-top: initial;
    flex: 1 1 0;
    min-width: 0;
  }
}
.swiper {
}

.swiper1 {
}

.swiper-wrapper {
}

.swiper-slide {
}

.p-top-works__img {
}
.p-top-works__img img {
  aspect-ratio: 420 / 280;
  object-fit: cover;
  width: 100%;
  height: auto;
}

.swiper-button-prev {
}

.swiper-button-next {
}

.swiper-scrollbar {
}
.p-top-works__slider-link {
}

.p-top-works__slider-page {
  display: block;
  @include mq(md) {
    flex: 0 0 rem(360);
    max-width: rem(360);
  }
}
.p-top-works__slider-page img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}
.p-top-works__detail {
  position: relative;
  display: block;
}
.p-top-works__detail-textWrapper {
  position: relative;
  background: rgba($color: #00a040, $alpha: 0.7);
  backdrop-filter: blur(10px);
  mix-blend-mode: multiply;
  padding: rem(16);
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
}

.p-top-works__detail-text {
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.05em;
  width: 100%;
  font-size: rem(16);
  position: relative;
  z-index: 1;
  @include mq(md) {
    font-size: rem(24);
  }
}
.p-top-works__pagers {
  display: flex;
  align-items: center;
  margin-top: rem(20);
  gap: rem(20);
  @include mq(md) {
    margin-top: rem(30);
    gap: rem(30);
  }
}
.p-top-works__button-icon {
  width: rem(32);
  @include mq(md) {
    width: rem(46);
  }
}
.p-top-works__button-icon img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}
.p-top-works__pagers-buttons {
  display: flex;
  align-items: center;
  gap: rem(15);
}
.p-top-works__pagers .swiper-pagination {
  position: relative;
  width: initial;
}
.p-top-works__pagers .swiper-pagination-bullets {
  width: initial !important;
  top: initial !important;
  bottom: initial !important;
}
.p-top-works__pagers .swiper-scrollbar {
  position: relative !important;
  max-width: rem(890);
  width: 100%;
}
.pag-current,
.pag-slash,
.pag-total {
  color: #242424;
  font-family: $outfit;
  font-weight: 700;
  letter-spacing: 0.05em;
  font-size: rem(14);
  @include mq(md) {
    font-size: rem(18);
  }
}
