@use "global" as *;

.p-us {
  background: #ebebeb;
  position: relative;
  z-index: 2;
  padding-top: rem(80);
  padding-bottom: rem(80);
  @include mq(md) {
    padding-top: rem(190);
    padding-bottom: rem(190);
  }
}

.p-us__content {
  max-width: rem(1400);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.p-us__link {
  width: 100%;
  border-top-left-radius: rem(30);
  padding-left: rem(20);
  padding-right: rem(20);
  padding-top: rem(40);
  padding-bottom: rem(30);
  display: block;
  position: relative;
  aspect-ratio: 335 / 476;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.05));
  overflow: hidden;
  @include mq(md) {
    aspect-ratio: 1400 / 350;
    display: flex;
    height: initial;
    align-items: center;
    padding-top: initial;
    padding-bottom: initial;
    border-top-left-radius: rem(60);
    padding-left: rem(70);
    padding-right: rem(57);
  }
}

.p-us__link::before {
  position: absolute;
  content: "";
  background: url(../images/common/us_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  top: 0;
  left: 0;
  right: 0;
  left: 0;
  inset: 0;
}
.p-us__detail {
  position: relative;
  z-index: 2;
  @include mq(md) {
    display: flex;
    align-items: center;
  }
}

.p-us__left {
  @include mq(md) {
    display: flex;
    align-items: center;
    gap: rem(80);
  }
}

.p-us__block {
}

.p-us__title {
  font-weight: 400;
  color: #fff;
  font-size: rem(20);
  @include mq(md) {
    font-size: rem(30);
  }
}

.p-us__text {
  line-height: calc(30 / 16);
  color: #fff;
  font-weight: 400;
  font-size: rem(14);
  margin-top: rem(10);
  @include mq(md) {
    font-size: rem(16);
  }
}

.p-us__icon {
  width: rem(32);
  margin-top: rem(12);
  margin-left: auto;
  margin-right: auto;
  @include mq(md) {
    margin-top: initial;
    margin-left: initial;
    margin-right: initial;
    width: rem(46);
  }
}
.p-us__icon img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}

.p-us__img {
  width: 100%;
  margin-top: rem(12);
  @include mq(md) {
    margin-top: initial;
    margin-left: rem(24);
    max-width: rem(470);
    margin-left: rem(56);
  }
}
.p-us__img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}
